# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/

# Environment variables / secrets
.env

# Logs
logs/

# OS files
.DS_Store
Thumbs.db

# Models (optional)
# Uncomment if you don't want to commit trained models
# models/

models/*.joblib

